<div class="center" *ngIf="employee">
  <h2>Employee: {{employee.FirstName}} {{employee.LastName}}</h2>
  <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
</div>
<div class="container" *ngIf="employee">
<div class="row">
<div class="col-md-12">
  <form #f='ngForm' (ngSubmit)='onSubmit(f)'>
    <div class="row">
     
      <div class="col-md-6">
        <div class="form-group" [ngClass] = '{"form-group has-error":FirstName.errors}'>        
            <label class="control-label" for="FirstName">First Name:</label>
            <input class="form-control" id="FirstName" type="text"  name="FirstName" [(ngModel)]="employee.FirstName" #FirstName="ngModel" required/>
            <span *ngIf='FirstName.errors' class="help-block">First Name is Required</span>          
        </div>      
      </div>

      <div class="col-md-6">
        <div class="form-group" [ngClass] = '{"form-group has-error":LastName.errors}'>
          <label class="control-label" for="LastName">Last Name:</label>
          <input class="form-control" id="LastName" type="text" name="LastName" [(ngModel)]='employee.LastName' #LastName="ngModel" required/>
          <span *ngIf='LastName.errors' class="help-block">Last Name is Required</span> 
        </div>
      </div>

    </div>

    <div class="row">
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="Position">Position:</label>
          <select class="form-control" id="Position"  name="Position" [(ngModel)]='employee.Position' #PositionName="ngModel">
            <option *ngFor='let position of positions' [value]='position._id'>{{position.PositionName}}</option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group" [ngClass] = '{"form-group has-error":SalaryBonus.errors}'>
          <label class="control-label" for="SalaryBonus">Salary Bonus</label>
          <div class="input-group">
            <span class="input-group-addon">$</span>
            <input class="form-control" id="SalaryBonus" type="number" name="SalaryBonus" [(ngModel)]='employee.SalaryBonus' #SalaryBonus="ngModel" required/>
            <span *ngIf='SalaryBonus.errors' class="help-block">SalaryBonus is Required</span> 
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group" [ngClass] = '{"form-group has-error":AddressStreet.errors}'>
          <label class="control-label" for="AddressStreet">Address (Street):</label>
          <input class="form-control" id="AddressStreet" type="text" name="AddressStreet" [(ngModel)]='employee.AddressStreet' #AddressStreet="ngModel" required/>
          <span *ngIf='AddressStreet.errors' class="help-block">Street is Required</span> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group" [ngClass] = '{"form-group has-error":AddressCity.errors}'>
          <label class="control-label" for="AddressCity">Address (City):</label>
          <input class="form-control" id="AddressCity" type="text" name="AddressCity" [(ngModel)]='employee.AddressCity' #AddressCity="ngModel" required/>
          <span *ngIf='AddressCity.errors' class="help-block">City is Required</span> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group" [ngClass] = '{"form-group has-error":AddressState.errors}'>
          <label class="control-label" for="AddressState">Address (State):</label>
          <input class="form-control" id="AddressState" type="text" name="AddressState" [(ngModel)]='employee.AddressState' #AddressState="ngModel" required/>
          <span *ngIf='AddressState.errors' class="help-block">State is Required</span> 
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group" [ngClass] = '{"form-group has-error":AddressZip.errors}'>
          <label class="control-label" for="AddressZip">Address (Zip Code):</label>
          <input class="form-control" id="AddressZip" type="text" name="AddressZip" [(ngModel)]='employee.AddressZip' #AddressZip="ngModel" required/>
          <span *ngIf='AddressZip.errors' class="help-block">Zip is Required</span> 
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-3">
        <div class="form-group" [ngClass] = '{"form-group has-error":PhoneNum.errors}'>
          <label class="control-label" for="PhoneNum">Phone Number:</label>
          <input class="form-control" name="PhoneNum" #PhoneNum="ngModel" id="PhoneNum" [(ngModel)]='employee.PhoneNum'  type="text" required pattern="\+?[ ]*[1-9]?[ ]*\-?[ ]*\(?[ ]*[1-9][ ]*(\d[ ]*){2}\)?[ ]*\-?[ ]*(\d[ ]*){3}-[ ]*(\d[ ]*){4}"/>
          <span *ngIf='PhoneNum.errors' class="help-block">American number is Required</span>
        </div>
      </div>
      <div class="col-md-3">
        <div class="form-group" [ngClass] = '{"form-group has-error":Extension.errors}'>
          <label class="control-label" for="Extension">Extension:</label>
          <input class="form-control" id="Extension" type="number" name="Extension" [(ngModel)]='employee.Extension' #Extension="ngModel" required/>
          <span *ngIf='Extension.errors' class="help-block">Extension is Required</span> 
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <label class="control-label" for="HireDate">Hire Date:</label>
          <input class="form-control" id="HireDate" name="HireDate" type="text" value="HireDate" readonly />
        </div>
      </div>
    </div>
    <hr />
    <a routerLink="/employees" class="btn btn-warning pull-left">Return to Employee List</a>
    <input [disabled] = '!f.valid' type="submit" class="btn btn-primary pull-right" value="Update Employee" />
    <br />
    <br />
  </form>
</div>
</div>
<br />
<div class="alert alert-success" *ngIf ='successMessage'>
  <strong>Success!</strong> {{employee.FirstName}} {{employee.LastName}}'s information was successfully saved.
</div>
<div class="alert alert-danger" *ngIf='failMessage'>
  <strong>Error!</strong> {{employee.FirstName}} {{employee.LastName}}'s information could not be saved.
</div>
</div>
<br /><br />

