<div class="center">
    <h2>Positions</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin non odio sed eros tristique bibendum.</p>
   </div>
<div class="container">
    <div class="row">
    <div class="col-md-12">
        <div class="table-responsive">
            <table class="table table-condensed table-hover">
              <thead>
                <tr>
                  <th>Position Title</th>
                  <th>Position Description</th>
                  <th>Salary</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor='let p of positions' (click)='routePosition(p._id)'>
                  <td>{{p.PositionName}}</td>
                  <td>{{p.PositionDescription}}</td>
                  <td>${{p.PositionBaseSalary | number: '.2'}}</td>
                </tr>
              </tbody>
            </table>
          </div>
    </div>
  </div>
</div>
